:root {
  --primary-color: #fd151b;
  --secondary-color: #3a2e39;
  --tertiary-color: #349324;
  --quaternary-color: #437f97;
  --background-color: #f2f5de;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  font-family: "Courier New", Courier, monospace;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: white;
}

header {
  padding: 25px 35px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  color: white;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li {
  margin: 0 10px;
}
